@import url('https://fonts.googleapis.com/css2?family=Hubballi&family=Montserrat&family=Smooch+Sans:wght@300&display=swap');


.articleWrapper{
margin: 0 auto;
font-size:large;
justify-content: center;
align-items: center;
}

.articleHeader{ 
    font-family: 'Montserrat', sans-serif;
    background-size:cover;
    background-blend-mode: lighten;
    padding: 40px 20px 20px;
    justify-content: center;
    align-items: center;
}

.articleHeader h1{
    font-size:50px;
    font-weight: 400;
    justify-content: center;
    align-items: center;
}

.articleHeaderBlurb{
    font-size: 24px;
    font-weight:100;
    justify-content: center;
    align-items: center;
}
.articleBody{
    font-family: 'Montserrat', sans-serif;
    padding: 10px 0;
    justify-content: center;
    align-items: center;
}
